beautifulsoup4
comtypes
cssutils
einops
hdbscan
huggingface_hub[hf_xet]
insightface
ipymarkup
ijson
lxml
Jinja2
natasha
numpy==1.26.4
nvidia-ml-py
onnxruntime-gpu
opencv-python
packaging
Pillow
photoshop-python-api
psd-tools
psutil
pydantic
pypiwin32
pymorphy3
PySide6
pycryptodome
rawpy
regex
safetensors
scikit-learn
scipy
toml
torch==2.10.0
tqdm
transformers==4.55.4
transparent-background[gui]
WMI
