beautifulsoup4
comtypes
cssutils
hdbscan
insightface
ipymarkup
Jinja2
natasha
numpy==1.26.4
onnxruntime-gpu
opencv-python
packaging
pandas
Pillow
plotly
photoshop-python-api
psd-tools
psutil
pydantic
pypiwin32
pymorphy3
PySide6
rawpy
regex
scikit-learn
scipy
toml
tqdm